{% extends 'html/base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">This is my amazing Django store that will have a whole bunch of fake products you can buy!</p>
    <hr class="my-4">
    <p>What's different about this is that I am using Class-based views, rather than function based views! Neat? We'll see!</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'products' %}" role="button">Go To The Product Page!</a>
    </p>
</div>
{% endblock content %}